*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img{
	width: 100%;
}

body{
	font-weight: 300;
	font-family: "Open Sans", sans-serif;
	color: #333;
	font-size: 14px;

}

/* header *********************************************************/

.header{
	max-width: 960px;
	margin: 0 auto;
	font-size: 16px;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}

.header-logo{
	width: 60px;
	margin: 5px 0;
}

.org-name{
	align-self: center;
	margin-right: auto;
	margin-left: 10px;
	font-size: 24px;
	font-weight: 400;
	color: green;
}

.nav{
	display: flex;
	align-items: stretch;
}

.navbar{
	display: flex;
}

.navbar-item{
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 20px;
	cursor: pointer;
}

.navbar-item img{
	width: 20px;
	height: 20px;
	margin-top: 14px;
	filter: opacity(0.5);
}

.navbar-item span{
	text-transform: lowercase;
	font-weight: 500;
	color: #aaa;
}

.navbar-item:hover, .navbar-item.activepage{
	background: gold;
}


/* main **********************************************************/

main{
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	font-size: 14px;
}

.recipes-banner{
	background-color: olivedrab;
	width: 100vw;
  	position: relative;
  	left: 50%;
 	transform: translateX(-50%);
}

.recipes-banner-content{
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
	font-size: 16px;
	color: white;
	display: flex;
	align-items: center;
	padding: 30px 0;
}

.recipes-p{
	font-weight: 600;
	font-size: 26px;
	letter-spacing: 2px;
}

.recipes-banner-content img{
	width: 20px;
	filter: invert(1);
	margin-left: auto;
}

.recipes-tomato{
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 2px;
}

/* intro ********************************************************/

.intro{
	display: flex;
}

.intro-card{
	background-color: whitesmoke;
	display: flex;
	flex-direction: column;
	padding: 30px
}

.intro-card h1{
	text-align: center;
}

.intro-card-name{
	font-size: 16px;
	font-weight: 500;
}

.intro-card-author{
	width: 60px;
	border-radius: 100px;
	align-self: center;
	margin-top: 20px;
	margin-bottom: 10px;
}

.intro-card-author-name{
	text-align: center;
	margin-bottom: 20px;
	font-weight: 400;
}

.intro-card-table{
	display: flex;
	margin-bottom: 10px;
}

.intro-card-tableleft{
	list-style: none;
	font-weight: 400;
}

.intro-card-tableright{
	list-style: none;
	margin-left: 10px;
}

.intro-cover{
	width: 66%;
	align-self: flex-start;
}

/* Instructions */

.steps{
	display: flex;
	margin: 20px 0;
}

.ingredients{
	max-width: 33%;
	margin-right: auto;
	padding: 30px;
}

.ingredients-label{
	margin-bottom: 20px;
	font-weight: 500;
	font-size: 20px;
}

.ingredients-list{
	list-style: none;
}

.ingredients-list li{
	margin-bottom: 10px;
}

.ingredients-list span{
	font-weight: 500;
}

.instructions{
	max-width: 66%;
	padding: 30px;
}

.instructions-label{
	margin-bottom: 20px;
	font-weight: 500;
	font-size: 20px;
}

.instructions-list li{
	margin-bottom: 10px;
}

/* Ratings */

.ratings{
	background-color: firebrick;
	color: #fff;
	padding: 0 0 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.ratings-location{
	display: flex;
	align-items: center;
}

.ratings-tags{
	display: flex;
	align-items: center;
}

.ratings-icon{
	width: 18px;
	height: 18px;
	filter: invert(1);
}

.ratings ul{
	display: flex;
}

.ratings li{
	list-style: none;
}

.ratings li:not(:first-child):before{
	content: " | ";
}

.ratings-stars{
	display: flex;
	align-items: center;
}

.ratings-votes{
	background-color: orangered;
	padding: 10px;
	font-size: 12px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.ratings-item .ratings-icon:first-of-type{
	margin-right: 5px;
}

/* Recommendations */

.recommendations{
	background-color: whitesmoke;
	padding-bottom: 30px;
}

.recommendations-header{
	text-align: center;
	padding-top: 70px;
	margin-bottom: 50px;
}

.recommendations-header-label{
	font-weight: 300;
	letter-spacing: 15px;
	font-size: 26px;
}

.recommendations-card{
	margin-bottom: 50px;
	display: flex;
	justify-content: space-around;
}

.wrap{
	max-width: 30%;
	background-color: white;
}

.wrap h2{
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	margin-top: 15px;
	margin-bottom: 5px;
}

.filet{
	max-width: 30%;
	background-color: white;
}

.filet h2{
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	margin-top: 15px;
	margin-bottom: 5px;
}

.filet-img-container{
	height: 160px;
	overflow: hidden;
}

.filet img{
	margin-top: 0px;
}

.recommendations-card-star2{
	display: flex;
	justify-content: center;
	align-content: center;
	margin-top: 40px;
}

.chicken{
	max-width: 30%;
	background-color: white;
}

.chicken h2{
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	margin-top: 15px;
	margin-bottom: 5px;
}

.chicken-img-container{
	height: 160px;
	overflow: hidden;
}

.chicken-img{
	margin-top: -150px;
}

.recommendations-card-star{
	display: flex;
	justify-content: center;
	margin-bottom: 15px;
}

.recommendations-card-star-icon{
	width: 12px;
	height: 12px;
	margin-right: 5px;
}

.recommendations-card-desc{
	padding: 0 20px;
	margin-bottom: 20px;
}

.recommendations-card-desc1{
	padding: 0 20px;
	margin-bottom: 17px;
}

.recommendations-card-user{
	display: flex;
	align-items: center;
	padding: 10px 20px;
}

.recommendations-card-user img{
	width: 50px;
	border-radius: 100px;
}

.username{
	margin-right: auto;
	margin-left: 5px;
}

.recommendations-card-rating{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: olivedrab;
	color: white;
	border-radius: 5px;
	padding: 5px 5px;
}

.recommendations-card-rating h1{
	font-size: 16px;
}

.recommendations-card-rating p{
	font-size: 12px;
}

/* Footer */

footer{
	margin-left: auto;
	margin-right: auto;
	font-size: 14px;
	color: #ddd;
}

.mainfooter{
	background-color: #555;
}

.footer-card-container{
	max-width: 960px;
	margin: 0 auto;
	display: flex;
	align-items: center;
}

.footer-card-logo{
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-card-logo p{
	margin-bottom: 20px;
	font-weight:600;
	letter-spacing: 1px;
}

.footer-card-logo img{
	width: 100px;
	margin-bottom: 10px;
}

.footer-card-contact{
	margin-right: auto;
}

.footer-card-contact ul{
	list-style: none;
	margin-top: 30px;
}

.footer-card-contact ul li{
	font-size: 12px;
	display: flex;
	align-items: flex-start;
	margin-bottom: 10px;
	margin-left: 50px;
}

.footer-card-contact ul li img{
	width: 14px;
	filter: invert(1);
	margin-right: 10px;
}

.footer-card-socmed img{
	width: 30px;
}

.footer-card-socmed{
	align-self: flex-end;
	padding: 20px;
	filter: invert(1);
	opacity: 50%;
}

.footer-card-socmed img{
	margin-right: 20px;
}

.subfooter{
	background-color: #333;
}

.subfooter-content{
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	padding:5px 0;
}

.subfooter-content p{
	font-size: 12px;
	color: #999;
}

.subfooter-content img{
	width: 14px;
	margin-right: 5px;
	filter: invert(1);
	opacity: 50%;
}

.copyright{
	margin-right: auto;
}

@media(max-width: 360px){
	.header{
		flex-direction: column;
		align-items: center;
	}

	.org-name{
		margin: 0 0 5px 0;
	}

	.navbar-item{
		padding: 0 10px;
	}

	.navbar-item span{
		font-size: 12px;
	}

	.recipes-p{
		margin-left: 20px;
	}

	.recipes-banner{
		width: 100%;
	}

	.recipes-banner-content img{
		margin-left: 0;
	}

	.recipes-tomato{
		width: 200px;
	}

	.intro{
		flex-direction: column-reverse;
	}

	.intro-cover{
		width: 100%;
	}

	.steps{
		flex-direction: column;
		margin-bottom: 0;
	}

	.ingredients{
		max-width: 100%;
		padding: 10px 30px;
	}

	.instructions{
		max-width: 100%;
		padding: 10px 40px;
	}

	.ratings{
		flex-direction: column;
		padding: 0;
	}

	.ratings-item, .ratings-stars, .ratings-votes{
		margin-top: 20px;
	}

	.ratings-votes{
		width: 100%;
	}

	.recommendations-header{
		padding-top: 20px;
	}

	.recommendations-header-label{
		letter-spacing: 2px;
	}

	.recommendations-card{
		flex-direction: column;
		align-items: center;
		margin-bottom: 0;
	}

	.wrap{
		max-width: 90%;
		margin-bottom: 60px;
	}

	.filet{
		max-width: 90%;
		margin-bottom: 60px;
	}

	.filet img{
		margin-top: -30px;
	}

	.chicken{
		max-width: 90%;
		margin-bottom: 0px;
	}

	.filet .recommendations-card-star{
		margin-top: 35px;
		margin-bottom: 0px;
	}

	.filet .recommendations-card-user img{
		margin-top: 3px;
	}

	.chicken-img{
		margin-top: -190px;
	}

	.footer-card-container{
		flex-direction: column;
	}

	.footer-card-contact{
		margin-right: 0;
	}

	.footer-card-contact ul{
		margin: 0;
	}

	.footer-card-contact ul li{
		margin-left: 20px;
	}

	.footer-card-socmed{
		align-self: center;
		margin-left: 15px;
	}

	.subfooter{
		padding-bottom: 5px;
	}

	.subfooter-content{
		flex-direction: column;
		align-items: center;
	}

	.copyright{
		margin-right: 0;
	}
}